@import url("https://use.typekit.net/did6ouf.css");

:root {
  --background-color: #faefef;
  --text-color: #4d2a3f;
  --burgundy: #4d2a3f;
  --pink: #faefef;
  --heading-font: freight-big-pro, serif;
  --text-font: quasimoda, sans-serif;
}

/* BASE ----------*/
* {
  margin: 0px;
  padding: 0px;
  /* cursor: none; */
}

html {
  font-size: 62.5%; /*62.5% of 16px base font size is 10px*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  background-color: var(--background-color);
  width: 100vw;
  margin: 0;
}

/* Cursor */
#circle {
  position: fixed;
  z-index: 1000;
  width: 17px;
  height: 17px;
  background-color: #94af94;
  border-radius: 50%;
  pointer-events: none;
}

li {
  list-style: none;
}

a {
  color: var(--text-color);
}

h2 {
  font: 8rem var(--heading-font);
  text-align: center;
  padding-top: 40px;
  margin-bottom: 30px;
}

h3 {
  font: 2rem var(--text-font);
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font: 1.6rem var(--text-font);
  line-height: 27px;
}

/* HEADER 
- - - - - - - - - - - - - - - - - - - - */
header {
  background-color: var(--burgundy);
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* animation: intro 4s ease-in-out; */
}

h1 {
  font: 10.5vw var(--heading-font);
  color: var(--pink);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  /* animation: intro-h1 4s ease-in-out; */
}

header span {
  background-color: var(--pink);
  height: 2px;
  /* animation: intro-span 4s ease-in-out; */
}

/* HEADER ANIMATIONS WHEN ENTERING SITE
- - - - - - - - - - - - - - - - - - - - */
@keyframes intro {
  0% {
    height: 100vh;
    overflow: hidden;
  }
  100% {
    height: 50vh;
  }
}

@keyframes intro-span {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes intro-h1 {
  0% {
    letter-spacing: -3vw;
  }
  50% {
    letter-spacing: 3vw;
  }
  100% {
    letter-spacing: 0;
  }
}

/* NAVIGATION 
- - - - - - - - - - - - - - - - - - - - */
nav {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--text-color);
  font: 5rem var(--heading-font);
  text-decoration: 3px underline;
  letter-spacing: 3px;
  padding: 5px;
}

/*  PORTFOLIO
- - - - - - - - - - - - - - - - - - - - */

.portfolio {
  background-color: var(--burgundy);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin: 0 4%;
}

.portfolio h2,
.portfolio h3,
.portfolio p,
.portfolio a {
  color: var(--pink);
}

.project {
  margin-bottom: 60px;
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 20px;
}

.project a {
  font: 1.6rem var(--text-font);
  display: inline;
  margin-right: 10px;
  margin-bottom: 60px;
}

/*  ABOUT
- - - - - - - - - - - - - - - - - - - - */
.about h2,
.about h3,
.about p,
.about span {
  color: var(--burgundy);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .content {
  max-width: 900px;
}

.centre {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about img {
  width: 100%;
  max-width: 400px;

  margin-bottom: 60px;
}

.about span {
  font: 3rem var(--text-font);
  display: inline-block;
  margin-bottom: 60px;
}

.skills {
  margin-bottom: 40px;
}

.group {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.group :nth-child(1) {
  font-weight: bold;
}

/*  CONTACT
- - - - - - - - - - - - - - - - - - - - */
.contact {
  background-color: var(--burgundy);
  height: 100vh;
  text-align: center;
}

.contact h2,
.contact a,
.icons i {
  color: var(--pink);
}

.contact a {
  font: 2rem var(--text-font);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 50px;
}

.icons i {
  font-size: 3rem;
  margin-right: 20px;
}

/*  FOOTER
- - - - - - - - - - - - - - - - - - - - */
footer {
  color: var(--pink);
  font: var(--text-font);
  text-align: center;
  background-color: var(--burgundy);
}

/*  MEDIA QUIERIES
- - - - - - - - - - - - - - - - - - - - */

@media (min-width: 768px) {
  nav a,
  h2 {
    font-size: 10rem;
  }

  .contact a {
    font-size: 2.5rem;
  }

  p,
  .project a {
    font-size: 1.8rem;
  }

  .centre {
    display: flex;
    flex-direction: row;
  }

  .about img {
    width: 50%;
    margin-right: 50px;
  }

  .centre span {
    margin: auto 0;
  }

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icons i {
    font-size: 5rem;
  }
}

@media (min-width: 820px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 900px) {
  nav a {
    transition: letter-spacing 1s ease-in;
  }

  nav a:hover {
    letter-spacing: 25px;
    transition: letter-spacing 0.2s ease-out;
  }

  nav a {
    font-size: 7rem;
  }

  @media (min-width: 1300px) {
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
