@import url("https://use.typekit.net/did6ouf.css");

:root {
  --background: #b7b3be;
  --text: #5b3b1c;
  --heading-font: swear-display, serif;
  --text-font: montserrat, sans-serif;
}

/* BASE ----------*/
* {
  margin: 0px;
  padding: 0px;
  /* cursor: none; */
}

html {
  font-size: 62.5%; /*62.5% of 16px base font size is 10px*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  background-color: var(--background);
  width: 100vw;
  margin: 0;
  margin-inline: auto;
}

li {
  list-style: none;
}

a {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
a,
p,
button,
span {
  color: var(--text);
}

h2 {
  font: 5rem var(--heading-font);
  font-weight: bold;
  text-align: left;
  margin: 60px 0;
}

h3 {
  font: 3rem var(--heading-font);
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font: 2rem var(--text-font);
  margin-bottom: 10px;
}

p {
  font: 1.6rem var(--text-font);
  line-height: 27px;
}

.sizing {
  max-width: 1300px;
  margin-inline: 5%;
  display: flex;
  flex-direction: column;
}

a {
  font: 1.6rem var(--text-font);
  display: inline;
  margin-right: 10px;
  margin-bottom: 60px;
  position: relative;
}

/* HEADER 
- - - - - - - - - - - - - - - - - - - - */
header {
  height: 33.333vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: intro 3s ease-in-out;
}

h1 {
  font: 9vw var(--text-font);
  text-transform: uppercase;
  letter-spacing: 0px;
  white-space: nowrap;
  animation: intro-h1 3s ease-in-out;
}

.headerLine {
  background-color: #5b3b1c;
  height: 2px;
  animation: intro-span 3s ease-in-out;
}

/* HEADER ANIMATIONS WHEN ENTERING SITE
- - - - - - - - - - - - - - - - - - - - */
@keyframes intro {
  0% {
    height: 100vh;
    overflow: hidden;
  }
  100% {
    height: 33.333vh;
    overflow: hidden;
  }
}

@keyframes intro-span {
  0% {
    width: 0;
  }
  50% {
    width: 120%;
  }

  100% {
    width: 0;
  }
}

@keyframes intro-h1 {
  0% {
    letter-spacing: -3vw;
  }
  50% {
    letter-spacing: 3vw;
  }
  100% {
    letter-spacing: 0vw;
  }
}

/* NAVIGATION 
- - - - - - - - - - - - - - - - - - - - */
nav {
  height: 66.666vh;
  margin-inline: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav button {
  font: 7vh var(--heading-font);
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  text-decoration: 3px underline;
  letter-spacing: 3px;
  background: none;
  border: none;
  padding: 5px;
}

/*  PORTFOLIO
- - - - - - - - - - - - - - - - - - - - */
.loader {
  background-color: var(--text);
  height: 2px;
  width: 10%;
  margin-top: 70px;
  animation: loader infinite 3s ease-in-out;
}

@keyframes loader {
  0% {
    width: 10%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}

.portfolio {
  min-height: 100vh;
}

.project {
  margin-bottom: 70px;
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.project p {
  margin-bottom: 40px;
}

/*  ABOUT
- - - - - - - - - - - - - - - - - - - - */
.about h2 {
  margin-top: 50px;
}

.about h3 {
  margin-bottom: 10px;
}

.centre {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 60px;
}

.about span {
  font: 3rem var(--heading-font);
  font-weight: bolder;
  text-align: center;
  max-width: 500px;
  display: inline-block;
  margin-bottom: 60px;
}

.skills {
  margin-bottom: 40px;
}

.group {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.group :nth-child(1) {
  font-weight: 500;
}

/*  CONTACT
- - - - - - - - - - - - - - - - - - - - */
.contact {
  height: calc(100vh - 27px);
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/*  FOOTER
- - - - - - - - - - - - - - - - - - - - */
footer p {
  font-size: 1rem;
}

/*  MEDIA QUIERIES
- - - - - - - - - - - - - - - - - - - - */

@media (min-width: 768px) {
  .centre {
    display: flex;
    flex-direction: row-reverse;
  }

  .about img {
    width: 50%;
    margin-left: 50px;
  }

  .centre span {
    margin: auto 0;
  }
}

@media (min-width: 820px) {
  .projects {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 900px) {
  nav button {
    transition: letter-spacing 2s ease-in;
  }

  nav button:hover {
    letter-spacing: 35px;
    transition: letter-spacing 0.1s ease-out;
  }

  a {
    text-decoration: none;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--text);
    opacity: 0;
    transition: opacity 400ms, transform 400ms;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  a:hover::after,
  a:focus::after {
    transform: scale(1);
  }
}
